# .github/workflows/scheduled-builds.yml
name: Production Deployment

on:
  workflow_dispatch:

jobs:
  build:
    name: Trigger Site Rebuild
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Deploy master branch
        run: curl ${{ secrets.deploy_master_branch }}
